<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/aireestandar.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href='/referencias'>Referencias</a>
                <a class="views" href="/">Ciclo de Otto</a>
                <a class="views" href="/cicloideal">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="/cicloreal">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <div class="back"><a href='/#datitoss'>Regresar</a></div>
        <main>
            <h1>Suposiciones de aire estándar</h1>
            <p>En los ciclos de potencia de gas, el fluido de trabajo permanece como gas durante todo el ciclo. Los motores de encendido por chispa, los motores diesel y las turbinas de gas convencionales son ejemplos comunes de dispositivos que operan en un ciclo de gas. En todas estas máquinas la energía se suministra al quemar un combustible dentro de las fronteras del sistema, es decir, son máquinas de combustión interna. Debido a este proceso de combustión la composición del fluido de trabajo cambia durante el curso del ciclo de aire y combustible a productos de la combustión. Sin embargo, si se considera que en el aire predomina el nitrógeno, el cual difícilmente participa en reacciones químicas en la cámara de combustión, todo el tiempo el fluido de trabajo se parece mucho al aire.</p>
            <p>Los ciclos de potencia de gases reales son bastante complejos. Para reducir el análisis a un nivel manejable, se utilizan las siguientes aproximaciones, conocidas comúnmente como suposiciones de aire estándar:</p>
            <div class="contenedorDiagra">
                <img class="diagrama3" src="./images/Otto_15.jpg">
                <p class="pie">En ciclos ideales, el proceso de combustión se sustituye por otro de adición de calor.</p>
            </div>
            <ol>
                <li>El fluido de trabajo es aire que circula de modo continuo en un circuito cerrado y siempre se comporta como un gas ideal.</li>
                <li>Todos los procesos que integran el ciclo son internamente reversibles.</li>
                <li>El proceso de combustión es sustituido por un proceso de adición de calor desde una fuente externa.</li>
                <li>El proceso de escape es sustituido por un proceso de rechazo de calor que regresa al fluido de trabajo a su estado inicial.</li>
            </ol>
            <p>Para simplificar aún más el análisis, con frecuencia se emplea la suposición de que el aire tiene calores específicos constantes cuyos valores se determinan a temperatura ambiente (25 °C o 77 °F). Cuando se utiliza esta suposición, las del aire estándar son llamadas suposiciones de aire estándar frío. Un ciclo para el cual las suposiciones de aire estándar son aplicables se conoce como un ciclo de aire estándar.</p>
        </main>
    </body>
</html>