<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/datohistorico2.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href="/referencias">Referencias</a>
                <a class="views" href="/">Ciclo de Otto</a>
                <a class="views" href="/cicloideal">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="/cicloreal">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <div class="back"><a href='/cicloideal#otrosDatos'>Regresar</a></div>
        <div class="todo">
            <h2>Dato Historico</h2>
            <p class="texto">La refrigeración por compresión de vapor se remonta a 1834, cuando el inglés Jacob Perkins recibió una patente para una máquina de hielo de ciclo cerrado que usaba éter u otros fluidos volátiles como refrigerantes. Se fabricó un modelo pero no se produjo comercialmente hasta 1850, cuando Alexander Twining empezó a diseñar y construir máquinas de hielo usando éter etílico, el cual es un refrigerante comercialmente usado en los sistemas por compresión de vapor.</p>
            <div class="contenedor-imagen">
                <img class="imagen" src="./images/Refri_ideal_Alexander_Twining.jpg">
                <img class="imagen" src="./images/Refri_ideal_Jacob_Perkins.jpg">
            </div>
        </div>
        
    </body>
</html>
        