<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/datoHistorico.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href="">Nosotros</a>
                <a class="views" href="">Ciclo de Otto</a>
                <a class="views" href="">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <div class="back"><a href='/#otrosDatos'>Regresar</a></div>
        <div class="todo">
            <h2>Dato Historico</h2>
            <p class="texto">El ciclo de Otto es el ciclo ideal para las máquinas reciprocantes de encendido por chispa. Recibe ese nombre en honor a Nikolaus A. Otto, quien en 1876, en Alemania, construyó una exitosa máquina de cuatro tiempos utilizando el ciclo propuesto por el francés Beau de Rochas en 1862.</p>
            <div class="contenedor-imagen">
                <img class="imagen" src="./images/Otto_09.jpg">
            </div>
        </div>
        
    </body>
</html>
        