<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/ejemplosolucion.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href="">Nosotros</a>
                <a class="views" href="/">Ciclo de Otto</a>
                <a class="views" href="/cicloideal">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="/cicloreal">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <main>
            <div class="back"><a href='/cicloreal#otrosDatos'>Regresar</a></div>
            <h1>Ejemplo</h1>
            <div class="parrafo">
                <p class="texto">Al compresor de un refrigerador entra refrigerante 134a como vapor sobrecalentado a 0.14 MPa y –10 °C a una tasa de 0.05 kg/s, y sale a 0.8 MPa y 50 °C. El refrigerante se enfría en el condensador a 26 °C y 0.72 MPa, y se estrangula a 0.15 MPa. Descarte toda posibilidad de transferencia de calor y caída de presión en las líneas de conexión entre los componentes, y determine a) la tasa de remoción de calor del espacio refrigerado y la entrada de potencia al compresor, b) la eficiencia isentrópica del compresor y c) el coeficiente de desempeño del refrigerador.</p>
                <div class="contenedor-motor">
                    <img class="motor" src="./images/Refri_real_02.JPG">
                    <p class="pie">Diagrama T-s</p>
                </div>
            </div>
            <h2>Solución</h2>
            <ul>
                <li class="partes-proceso">El primer paso es buscar las entalpías de los estados con la información dada por el problema:</li>
            </ul>
            <div class="contenedor-refri"></div>
                    <img class="refri" src="./images/Refri_real_03.JPG">
            </div>
            <p>a) La tasa de remoción de calor del espacio refrigerado y la entrada de potencia al compresor se determinan por sus definiciones:</p>
            <div class="contenedor-refri"></div>
                    <img class="refri2" src="./images/Refri_real_04.JPG">
            </div>
            <p>b) La eficiencia isentrópica del compresor se obtiene de:</p>
            <div class="contenedor-refri"></div>
                    <img class="refri3" src="./images/Refri_real_05.JPG">
            </div>
            <p>c) El coeficiente de desempeño del refrigerador es:</p>
            <div class="contenedor-refri"></div>
                    <img class="refri4" src="./images/Refri_real_06.JPG">
            </div>
        </main>
    </body>
</html>