<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/ejerciciootto.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href="/referencias">Referencias</a>
                <a class="views" href="/">Ciclo de Otto</a>
                <a class="views" href="/cicloideal">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="/cicloreal">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <main>
            <div class="back"><a href='/#boton'>Regresar</a></div>
            <h1>Ejercicio</h1>
            <div class="parrafo">
                <p class="texto" id="altura">Un ciclo ideal de Otto tiene una relación de compresión de 10.5, admite aire a 90 kPa y 40 °C y se repite 2 500 veces por minuto. Usando calores específicos constantes a temperatura ambiente, determine la eficiencia térmica de este
                    ciclo y la tasa de suministro de calor si el ciclo ha de producir 90 kW de potencia.</p>
                <div class="contenedor-motor">
                    <img class="motor" id="mini" src="./images/Otto_F28.png">
                    <p class="pie">Respuestas</p>
                </div>
            </div>
        </main>
    </body>
</html>