<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/datohistorico2.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href="/referencias">Referencias</a>
                <a class="views" href="/">Ciclo de Otto</a>
                <a class="views" href="/cicloideal">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="/cicloreal">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <main>
            <div class="back"><a href='/cicloideal#otrosotrosDatos'>Regresar</a></div>
            <h2>Ejercicio</h2>
            <p class="texto">Un refrigerador usa refrigerante 134a como fluido de trabajo y opera en un ciclo ideal de refrigeración por compresión de vapor entre 0.12 y 0.7 MPa. El flujo másico del refrigerante es 0.05 kg/s. Muestre el ciclo en un diagrama T-s con respecto a las líneas de saturación. Determine:</p>
            <div class="texto">a)La tasa de remoción de calor del espacio refrigerado y la entrada de potencia al compresor.<div/p>
            <img class="ejercicios" src="./images/Refri_ideal_11.JPG">
            <div>b)La tasa de rechazo de calor al entorno.</div>
            <img src="./images/Refri_ideal_12.JPG">
            <div>c)El coeficiente de desempeño</div>
            <img class="ejercicios" src="./images/Refri_ideal_13.JPG">
            <div class="derecho">
                <img class="imgdere" src="./images/Refri_ideal_14.JPG">
            </div>   
                </div>
            </div>
        </main>
    </body>
</html>