<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/index.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href='/nosotros'>Nosotros</a>
                <a class="views" href="/">Ciclo de Otto</a>
                <a class="views" href="/cicloideal">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="/cicloreal">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <main>
            <h1>Ciclo de Otto: El ciclo ideal para las máquinas de encendido por chispa</h1>
            <h2>Motor de Combustión interna</h2>
            <h3>Procesos que forman el ciclo de un motor de combustión interna 
                de gasolina de 4 tiempos</h3>
            <p>Es un tipo de máquina que obtiene energía mecánica directamente de la energía química de un combustible que arde dentro de la cámara de combustión. El nombre se debe a que dicha combustión se produce dentro de la propia máquina, a diferencia de la maquina de vapor.</p>
            <h4>Estructura y funcionamiento</h4>
            <p>En los 4T (cuatro tiempos) es muy frecuente designarlos mediante su tipo de distribución: SV, OHV, SOHC, DOHC (disposición del árbol de levas). Pero la mayoría de ellos están conformados por las siguientes partes:</p>
            <div class="contenedor">
                <div class="parrafo">
                    <p class="texto"> Cámara de combustión: Es un cilindro, cerrado en un extremo superior, y dentro del cual se desliza un pistón. La posición hacia dentro y hacia fuera del pistón modifica el volumen que existe entre la cara exterior del pistón y las paredes internas de la cámara.</p>
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_01.png">
                    </div>
                </div>
                <div class="parrafo">
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_02.png">
                    </div>
                    <p class="texto">Encendido: En los motores Otto, el sistema de encendido consiste en un componente llamado bobina de encendido, que es un auto-transformador de alto voltaje al que está conectado un conmutador que interrumpe la corriente del primario para que se induzca un impulso eléctrico de alto voltaje en el secundario. Dicho impulso está sincronizado con el tiempo de compresión de cada uno de los cilindros.</p>
                </div>
                <div class="parrafo">
                    <p class="texto">Sistema de alimentación: El sistema de alimentación de combustible de un motor Otto consta de un depósito, una bomba de combustible y un dispositivo dosificador de combustible que vaporiza o atomiza el combustible desde el estado líquido, en las proporciones correctas para poder ser quemado. Normalmente conocido como carburador. </p>
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_03.png">
                    </div>
                </div>
                <div class="parrafo">
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_04.png">
                    </div>
                    <p class="texto">Sistema de arranque: los motores de combustión interna no producen un par de fuerzas cuando arrancan, lo que implica que debe provocarse el movimiento del cigüeñal para que se pueda iniciar el ciclo. Los motores de automoción utilizan un motor eléctrico (el motor de arranque) conectado al cigüeñal por un embrague automático que se desacopla en cuanto arranca el motor. </p>                    
                </div>
                <div class="parrafo">
                    <p class="texto">Refrigeración: Dado que la combustión produce calor, todos los motores deben disponer de algún tipo de sistema de refrigeración. Algunos motores estacionarios de automóviles y de aviones, y los motores fueraborda, se refrigeran con aire.</il>
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_05.png">
                    </div>
                </div>
                <div class="parrafo">
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_06.png">
                    </div>
                    <p class="texto">Sistema de distribución: Cada cilindro toma el combustible y expulsa los gases a través de válvulas de cabezal o válvulas deslizantes. Un muelle mantiene cerradas las válvulas hasta que se abren en el momento adecuado, al actuar las levas de un árbol de leva rotatorio movido por el cigüeñal, estando el conjunto coordinado mediante la cadena o la correa de distribución.</p>                    
                </div>
            </div>
            <div class="contenedorDiagraT">
                <p id="tema">Funcionamiento de un motor de combustión interna de 4 tiempos</p>
                <div class="contenedorDiagra">
                    <img class="diagrama1" src="./images/Otto_07.gif">
                </div>
                <div class="contenedorDiagra">
                    <img class="diagrama2" src="./images/Otto_08.png">
                </div>
            </div>
            <div class="desplegable">
                <p class="datosExtra" id="otrosDatos"><a href='/datoHistorico'>Dato Histórico</a></p>
                <p class="datosExtra"><a href='/maquinasR'>Máquinas reciprocantes</a></p>
            </div>
            <ul>
                <li class="partes-proceso">En este tipo de ciclo, el émbolo ejecuta cuatro tiempos completos (dos ciclos mecánicos) dentro del cilindro, y el cigüeñal completa dos revoluciones por cada ciclo termodinámico.</li>
            </ul>
            <p>El diagrama P-v para una máquina real de encendido por chispa de cuatro tiempos se presenta a continuación:</p>
            <div class="contenedorDiagra">
                <img class="diagrama3" src="./images/Otto_12.png">
                <p class="pie">Ciclos real e ideal en motores de encendido por chispa y sus diagramas P-v.</p>
            </div>
            <p>El análisis termodinámico de los ciclos reales de cuatro tiempos no es una tarea simple. Sin embargo, el análisis puede simplificarse de manera significativa si se utilizan las suposiciones de aire estándar, ya que el ciclo que resulta y que es parecido a las condiciones de operación reales es el ciclo de Otto ideal, el cual se compone de cuatro procesos reversibles internamente:</p>
            <h2>Procesos</h2>
            <ul>
                <li type="none" class="partes-proceso">1-2 Compresión isentrópica</li>
                <li type="none" class="partes-proceso">2-3 Adición de calor a volumen constante</li>
                <li type="none" class="partes-proceso">3-4 Expansión isentrópica</li>
                <li type="none" class="partes-proceso">4-1 Rechazo de calor a volumen constante</li>
            </ul>
            <div class="contenedor-diagratotal">
                <div class="contenedorDiagra">
                    <img class="diagrama4" src="./images/Otto_13.jpg">
                    <p class="pie">Diagrama T-s para el ciclo de Otto.</p>
                </div>
                <div class="contenedorDiagra">
                    <img class="diagrama5" src="./images/Otto_14.jpg">
                    <p class="pie">Diagrama P-v del ciclo de Otto ideal que incluye carreras de entrada y salida.</p>
                </div>
            </div>
            <p>El ciclo de Otto ideal se ejecuta en un sistema cerrado, y sin tomar en cuenta los cambios en las energías cinética y potencial, el balance de energía para cualquiera de los procesos se expresa, por unidad de masa, como:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F03.png">
            </div>
            <p>No hay trabajo involucrado durante los dos procesos de transferencia de calor (sucede a volumen constante). Por lo tanto, la transferencia de calor hacia y desde el fluido de trabajo puede expresarse como:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F04.png">
            </div>
            <p>Entonces, la eficiencia térmica del ciclo de Otto ideal supuesto para el aire estándar frío es:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F05.png">
            </div>
            <p>Los procesos 1-2 y 3-4 son isentrópicos, y v2 = v3 y v4 = v1. Por lo tanto:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F06.png">
            </div>
            <p>Sustituyendo estas ecuaciones en la relación de la eficiencia térmica y simplificando, se obtiene:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F07.png">
            </div>
            <p>Donde:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F08.png">
            </div>
            <p>Que es la relación de compresión, y k es la relación de calores específicos cp /cv.</p>
            <h2>Análisis energético de cada proceso</h2>
            <p>1-2 Compresión Isentrópica:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F10.png">
            </div>
            <p>2-3 Adición de calor a volumen constante: </p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F11.png">
            </div>
            <p>3-4 Expansión Isentrópica:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F12.png">
            </div>
            <p>4-1 Rechazo de calor a volumen constante:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F13.png">
            </div>
            <p>Finalmente</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F14.png">
            </div>
            <p>Sabemos que</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_1234.jpeg">
            </div>
            <p>Los procesos 1-2 y 3-4 son isentrópicos, por lo que:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F16.png">
            </div>
            <div class="contenedor" id="separacion">
                <div class="parrafo">
                    <p class="texto"> Una gráfica de la eficiencia térmica contra la relación de compresión se presenta en la figura  para k = 1.4, el cual es el valor de la relación de calores específicos del aire a temperatura ambiente. Para una relación de compresión dada, la eficiencia térmica de una máquina real de encendido por chispa será menor que la de un ciclo de Otto ideal debido a irreversibilidades como la fricción y a otros factores, como la combustión incompleta.</p>
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_16.png">
                        <p class="pie">La eficiencia térmica de un ciclo de Otto ideal como una función de la relación de compresión (k 5 1.4)</p>
                    </div>
                </div>
                <div class="parrafo">
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_17.png">
                        <p class="pie">La eficiencia térmica del ciclo de Otto aumenta con la relación de calores específicos k del fluido de trabajo</p>
                    </div>
                    <p class="texto">El segundo parámetro que afecta la eficiencia térmica de un ciclo de Otto ideal es la relación de calores específicos k. Para una relación de compresión dada, un ciclo de Otto ideal que emplea un gas monoatómico (como argón o helio, k 5 1.667) como fluido de trabajo tendrá la eficiencia térmica más alta. La relación de calores específicos k, y por lo tanto la eficiencia térmica de un ciclo de Otto ideal, disminuye cuando las moléculas del fluido de trabajo son más grandes.</p>
                </div>
            </div>
            <div class="desplegable">
                <p class="datosExtra" id="datitos"><a href='/aireestandar'>Suposiciones de aire estándar</a></p>
                <p class="datosExtra" id="datitos"><a href='/gasesideales'>Relaciones isentrópicas para gases ideales</a></p>
            </div>
            <h2 id="ejemplitos">Ejemplo</h2>
            <div class="parrafo">
                <p class="texto">Un ciclo de Otto ideal tiene una relación de compresión de 8. Al inicio del proceso de compresión de aire está a 100 kPa y 17 °C, y 800 kJ/kg de calor se transfiere a volumen constante hacia el aire durante el proceso de adición de calor. Tome en cuenta la variación de los calores específicos del aire con la temperatura y determine a) la temperatura y presión máxima que ocurren durante el ciclo, b) la salida de trabajo neto, c) la eficiencia térmica, d) la presión media efectiva en el ciclo.</p>
                <div class="contenedor-motor">
                    <img class="motor" src="./images/Otto_ejemplo.jpeg">
                    <p class="pie">Diagrama P-v para el ciclo de Otto</p>
                </div>
            </div>
            <h2>Solución</h2>
            <p>Primero que nada hay que considerar los siguientes puntos:</p>
            <ul>
                <li class="partes-proceso">Las suposiciones de aire estándar son aplicables. </li>
                <li class="partes-proceso">Los cambios de energías cinética y potencial son insignificantes. </li>
                <li class="partes-proceso">Será considerada la variación de los calores específicos debido a la temperatura. </li>
            </ul>
            <p>a) La temperatura y presión máximas en un ciclo de Otto ocurren al final del proceso de adición de calor a volumen constante. Primero necesitamos determinar la temperatura y presión del aire al final del proceso isentrópico de compresión, usando datos de  tablas termodinámicas:</p>
            <div class="contenedor-refri"></div>
                    <img class="refri" src="./images/Otto_F17.png">
            </div>
            <p>Proceso 1-2 (compresión isentrópica de un gas ideal):</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F18.png">
            </div>
            <p>Proceso 2-3 (adición de calor a volumen constante):</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F19.png">
            </div>
            <p>b) La salida de trabajo neto para el ciclo se determina al encontrar mediante integración cada trabajo de frontera (P dV) implicado en cada proceso y sumándolos, o al encontrar la transferencia neta de calor que es equivalente al trabajo neto realizado durante el ciclo.</p>
            <p>Proceso 3-4 (expansión isentrópica de un gas ideal):</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F20.png">
            </div>
            <p>Proceso 4-1 (rechazo de calor a volumen constante):</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F21.png">
            </div>
            <p>Por lo tanto:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F22.png">
            </div>
            <p>c) La eficiencia térmica del ciclo es determinada a partir de su definición:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F23.png">
            </div>
            <p>Bajo las suposiciones de aire estándar frío (valores de calores específicos constantes a temperatura ambiente), la eficiencia térmica sería</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F24.png">
            </div>
            <p>d) La presión media efectiva se determina por su definición</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F25.png">
            </div>
            <p>Donde:</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F26.png">
            </div>
            <p>Por lo tanto</p>
            <div class="contenedorDiagra">
                <img class="diagrama1" src="./images/Otto_F27.png">
            </div>
            <div class="desplegable">
                <p class="datosExtra" ><a href='/ejerciciootto'>Ejercicio</a></p>
            </div>
        </main>
    </body>
</html>