<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/index.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href='/nosotros'>Nosotros</a>
                <a class="views" href="/">Ciclo de Otto</a>
                <a class="views" href="/cicloideal">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="/cicloreal">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <main>
            <h1>Ciclo de Otto: El ciclo ideal para las máquinas de encendido por chispa</h1>
            <h2>Motor de Combustión interna</h2>
            <h3>Procesos que forman el ciclo de un motor de combustión interna 
                de gasolina de 4 tiempos</h3>
            <p>Es un tipo de máquina que obtiene energía mecánica directamente de la energía química de un combustible que arde dentro de la cámara de combustión. El nombre se debe a que dicha combustión se produce dentro de la propia máquina, a diferencia de la maquina de vapor.</p>
            <h4>Estructura y funcionamiento</h4>
            <p>En los 4T (cuatro tiempos) es muy frecuente designarlos mediante su tipo de distribución: SV, OHV, SOHC, DOHC (disposición del árbol de levas). Pero la mayoría de ellos están conformados por las siguientes partes:</p>
            <div class="contenedor">
                <div class="parrafo">
                    <p class="texto"> Cámara de combustión: Es un cilindro, cerrado en un extremo superior, y dentro del cual se desliza un pistón. La posición hacia dentro y hacia fuera del pistón modifica el volumen que existe entre la cara exterior del pistón y las paredes internas de la cámara.</p>
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_01.png">
                    </div>
                </div>
                <div class="parrafo">
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_02.png">
                    </div>
                    <p class="texto">Encendido: En los motores Otto, el sistema de encendido consiste en un componente llamado bobina de encendido, que es un auto-transformador de alto voltaje al que está conectado un conmutador que interrumpe la corriente del primario para que se induzca un impulso eléctrico de alto voltaje en el secundario. Dicho impulso está sincronizado con el tiempo de compresión de cada uno de los cilindros.</p>
                </div>
                <div class="parrafo">
                    <p class="texto">Sistema de alimentación: El sistema de alimentación de combustible de un motor Otto consta de un depósito, una bomba de combustible y un dispositivo dosificador de combustible que vaporiza o atomiza el combustible desde el estado líquido, en las proporciones correctas para poder ser quemado. Normalmente conocido como carburador. </p>
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_03.png">
                    </div>
                </div>
                <div class="parrafo">
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_04.png">
                    </div>
                    <p class="texto">Sistema de arranque: los motores de combustión interna no producen un par de fuerzas cuando arrancan, lo que implica que debe provocarse el movimiento del cigüeñal para que se pueda iniciar el ciclo. Los motores de automoción utilizan un motor eléctrico (el motor de arranque) conectado al cigüeñal por un embrague automático que se desacopla en cuanto arranca el motor. </p>                    
                </div>
                <div class="parrafo">
                    <p class="texto">Refrigeración: Dado que la combustión produce calor, todos los motores deben disponer de algún tipo de sistema de refrigeración. Algunos motores estacionarios de automóviles y de aviones, y los motores fueraborda, se refrigeran con aire.</il>
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_05.png">
                    </div>
                </div>
                <div class="parrafo">
                    <div class="contenedor-motor">
                        <img class="motor" src="./images/Otto_06.png">
                    </div>
                    <p class="texto">Sistema de distribución: Cada cilindro toma el combustible y expulsa los gases a través de válvulas de cabezal o válvulas deslizantes. Un muelle mantiene cerradas las válvulas hasta que se abren en el momento adecuado, al actuar las levas de un árbol de leva rotatorio movido por el cigüeñal, estando el conjunto coordinado mediante la cadena o la correa de distribución.</p>                    
                </div>
            </div>
            <div class="contenedorDiagraT">
                <p id="tema">Funcionamiento de un motor de combustión interna de 4 tiempos</p>
                <div class="contenedorDiagra">
                    <img class="diagrama1" src="./images/Otto_07.gif">
                </div>
                <div class="contenedorDiagra">
                    <img class="diagrama2" src="./images/Otto_08.png">
                </div>
            </div>
            <div class="desplegable">
                <p class="datosExtra" id="otrosDatos"><a href='/datoHistorico'>Dato Histórico</a></p>
                <p class="datosExtra"><a href='/maquinasR'>Máquinas reciprocantes</a></p>
            </div>
        </main>
    </body>
</html>