<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/maquinasR.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href="">Nosotros</a>
                <a class="views" href="">Ciclo de Otto</a>
                <a class="views" href="">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <div class="back"><a href='/#otrosDatos'>Regresar</a></div>
        <div class="todo">
            <h2>Máquinas Reciprocantes</h2>
            <p class="texto">A pesar de su simplicidad, la máquina reciprocante (básicamente un dispositivo de cilindro-émbolo). Los componentes básicos de una máquina reciprocante se muestran en la figura. El émbolo reciprocante en el cilindro se alterna entre dos posiciones fijas llamadas punto muerto superior (PMS), la posición del émbolo cuando se forma el menor volumen en el cilindro, y punto muerto inferior (PMI), la posición del émbolo cuando se forma el volumen más grande en el cilindro.</p>
            <p class="texto">La distancia entre el PMS y el PMI es la más larga que el émbolo puede recorrer en una dirección
                y recibe el nombre de carrera del motor. El diámetro del pistón se llama calibre.</p>
            <p class="texto">El volumen mínimo formado en el cilindro cuando el émbolo está en el PMS se denomina volumen 
                de espacio libre. El volumen desplazado por el émbolo cuando se mueve entre el PMS y el PMI se 
                llama volumen de desplazamiento.</p>
            <p class="texto">La relación entre el máximo volumen formado en el cilindro y el volumen mínimo (espacio libre) 
                recibe el nombre de relación de compresión r del motor:</p>
            <div class="contenedor-formula">
                <img class="formula" src="./images/Otto_9.5.png">
            </div>
            <div class="contenedor-nomen">
                <div class="nomen-titulo">Nomenclatura para motores
                    reciprocantes.
                </div>
                <div class="contenedor-imagen">
                    <img class="nomencla" src="./images/Otto_10.jpg">
                </div>
            </div>
            <p class="texto">Otro término empleado en las máquinas reciprocantes es la presión media efectiva (PME), una presión ficticia que, si actuara sobre el émbolo durante toda la carrera de potencia, produciría la misma cantidad de trabajo neto que el producido durante el ciclo real.</p>
            <div class="contenedor-formula2">
                <img class="formula2" src="./images/Otto_10.5.jpeg">
            </div>
            <p class="texto">O</p>
            <div class="contenedor-formula3">
                <img class="formula3" src="./images/Otto_F25.png">
            </div>
            <p class="texto">La máquina que tiene un valor mayor de PME entregará más trabajo neto por ciclo y por lo tanto se desempeñará mejor.</p>
            <div class="contenedor-extra">
                <p class="texto" id="extra">La salida neta de trabajo de un ciclo es equivalente al producto de la presión media efectiva por el volumen de desplazamiento.                    
                </p>
                <div class="imagen-extra">
                    <img class="imagenExtra" src="./images/Otto_11.jpg">
                </div>
            </div>
        </div>

        
    </body>
</html>