<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="UTF-8">
        <title>Termo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="./css/index.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img class="logo" src="./images/logo.png">
            <div class="opciones">
                <a class="views" href='/referencias'>Referencias</a>
                <a class="views" href="/">Ciclo de Otto</a>
                <a class="views" href="/cicloideal">Ciclo ideal de refrigeración por compresión</a>
                <a class="views" href="/cicloreal">Ciclo real de refrigeración por compresión</a>
            </div>
        </header>
        <main>
            <h1>Referencias</h1>
            <ul>
                <li class="refer">Wikipedia. (mayo 24, 2021). Motor de combustión interna. junio 29, 2021, de Fundación Wikimedia, Inc. Sitio web: https://es.wikipedia.org/wiki/Motor_de_combusti%C3%B3n_interna</li>
                <li class="refer">Çengel Y. A. & Boles M. A.. (2015). Thermodynamics, An Engineering Approach. New York: McGraw-Hill Education.</li>
                <li class="refer">Gildardo Yanez. (2021). Ciclo de refrigeracion por compresion - ciclo frigorifico. 06/07/2021, de www.gildardoyanez.com Sitio web: https://www.gildardoyanez.com/tips/ciclo-de-refrigeracion/</li>
            </ul>
        </main>
    </body>
</html>