body{
    margin:0px;
    height: 90%;
    position: absolute;
    bottom:0px;
    background-color: #f8efd9;
}

header{
    width: 100%;
    height: 10%;
    position:fixed;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #efd069;
    top:0px;
}

.opciones{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: flex-end;
}
.views{
    color:#123a44;
    text-decoration:none;
    font-weight: bold;
    font-size: 17px;
}

.logo{
    height: 80%;
}

main{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin:2%;
}

h1{
    font-size: 40px;
    text-align: center;
}

h2{
    margin-bottom:0%;
    font-size: 30px;
}

h3{
    margin-top:0%;
    width: 90%;
    text-align: center;
    font-size:22px;
}

h4{
    text-align: left;
    width: 100%;
    font-size: 25px;
}

p{
    font-size: 22px;
}

.back{
    align-self:left ;
    width: 15%;
    height: 8%;
    text-align: center;
    border: 3px solid #cc7612;
    background-color: #efd069;
    border-radius: 35px;
    padding:1%;
    font-weight: bold;
    position:fixed;
    left:-25px;
    text-align: center;
    margin-top: 1.5%;
    box-sizing: border-box;
}

a{
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    color: #123a44;
}


.parrafo{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    justify-content: left;
    height: 400px;
    width: 100%;
    flex-direction: row;
    margin-top: 1%;
}

.texto{
    width: 50%;
    margin-top:9%;
    
}

.contenedor-motor{
    width: 50%;
    height:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motor{
    height: 85%;
    
}
.pie{
    font-size: 18px;
    font-style: italic;
    text-align: center;

}

ul{
    font-size: 22px;
}
.partes-proceso{
    margin-bottom: 2%;

}

.contenedor-refri{
    text-align: center;   
    
}

.refri{ 
    height: 240px;
}

.refri2{ 
    height: 150px;
}
.refri3{ 
    height: 220px;
}
.refri4{ 
    height: 110px;
    margin-bottom: 2%;
}