
body{
    margin:0px;
    height: 90%;
    position: absolute;
    bottom:0px;
    background-color: #f8efd9;
}

header{
    width: 100%;
    height: 10%;
    position:fixed;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #efd069;
    top:0px;
}

.opciones{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: flex-end;
}
.views{
    color:#123a44;
    text-decoration:none;
    font-weight: bold;
    font-size: 17px;
}

.logo{
    height: 80%;
}

main{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin:2%;
}

h1{
    font-size: 40px;
    text-align: center;
}

h2{
    margin-bottom:0%;
    font-size: 30px;
}

h3{
    margin-top:0%;
    width: 90%;
    text-align: center;
    font-size:22px;
}

h4{
    text-align: left;
    width: 100%;
    font-size: 25px;
}

p{
    font-size: 22px;
}

.parrafo{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    justify-content: left;
    height: 20%;
}

.texto{
    width: 65%;
    top:50%;
}

.contenedor-motor{
    width: 35%;
    height: 20%;
    text-align: center;
}

.contenedorDiagraT{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    border: #cc7612 3px dotted;
}

p#tema{
    font-weight:bold;
    width: 100%;
    text-align: center;
    color:#123a44;
}

.contenedorDiagra{
    width:45%;
    text-align: center;

}

.diagrama1{
    height: 80%;
}

.diagrama2{
    width: 85%;

}

.desplegable{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
}

.datosExtra{
    width: 30%;
    height: 80%;
    text-align: center;
    border: 3px solid #cc7612;
    background-color: #efd069;
    border-radius: 35px;
    padding:1%;
    font-weight: bold;

}

#datitos{
    width: 38%;
}

ul{
    font-size: 22px;
}
.partes-proceso{
    margin-bottom: 2%;

}

.diagrama3{
    width: 100%;
}

.pie{
    font-size: 18px;
    font-style: italic;
    text-align: center;

}

.contenedor-diagratotal{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: center;
    margin-bottom: 3%;
}

.diagrama4{
    width: 50%;

}

.diagrama5{
    width:  50%;
    
}

#separacion{
    margin-top:4%
}

#ejemplitos{
    margin: 3%;
}




